@import '../../scss/common.scss';

.player-setup {
    @include display-flex;
    @include flex-direction(column);
    @include align-items(center);
    .title {
        margin-bottom: 10px;
        font-size: 30px;
    }
    
    .name-section {
        @include display-flex;
        @include flex-direction(column);
        @include align-items(flex-start);
        width: 100%;
        padding-left: 50px;
        .name-item {
            margin-top: 5px;
            &:first-child {
                margin-top: 10px;
            }
        }
    }
    
    .btn {
        padding: 0 16px;
        &.add-player {
            margin-left: 10px;
        }
        &.start-game {
            margin-top: 10px;
        }
    }

    .warning {
        margin: 10px 0;
    }
}
