@import '../../scss/common.scss';

.character-setup {
    width: 100%;
    .character-list {
        .character-line {
            @include display-flex;
            @include justify-content(space-between);
            @include align-items(center);
            margin: 10px 0 15px;
            .character-name {
                width: 100px;
                font-weight: bold;
                color: $color-blue;
                &.evil {
                    color: $color-red;
                }
            }
            .control-section {
                @include display-flex;
                @include align-items(center);
                @include justify-content(space-between);
                .btn {
                    height: 30px;
                    width: 36px;
                    padding: 0;
                    font-size: 24px;
                    line-height: 24px;
                    &.plus {
                        border-radius: 0 15px 15px 0;
                    }
                    &.minus {
                        border-radius: 15px 0 0 15px;
                    }
                }
                .count {
                    width: 38px;
                    text-align: center;
                }
            }
        }
    }
    .message-to-user {
        font-size: 13px;
        .message-line {
            @include display-flex;
            i {
                margin-right: 4px;
            }
            &.all-set {
                color: $color-green;
            }
        }
    }
    .final-button-section {
        @include display-flex;
        @include justify-content(space-between);
        margin-top: 10px;
        .btn {
            &.clear {
                width: 45%;
            }
            &.common {
                width: 45%;
            }
        }
    }
}