@import '../../scss/common.scss';

.mission-page {
    width: 100%;
    .current-status {
        @include display-flex;
        @include align-items(center);
        @include justify-content(center);
        margin-bottom: 20px;
        i {
            margin-right: 2px;
        }
        .number {
            margin: 0 10% 0 5px;
            &:last-child {
                margin-right: 0;
            }
            &.red {
                color: $color-red;
            }
            &.blue {
                color: $color-blue;
            }
        }
    }
    .choose-team {
        @include display-flex;
        @include flex-direction(column);
        @include align-items(center);
        .message {
            margin-bottom: 10px;
        }
        .warning {
            margin-top: 10px;
        }
        .btn.common {
            width: 100px;
            margin-top: 10px;
        }
    }
    .approve-page {
        @include display-flex;
        @include flex-direction(column);
        .btn {
            @include align-self(center);
            width: 200px;
            margin: 5px 0;
            &.common {
                margin-top: 20px;
            }
        }
    }
    .result-page {
        @include display-flex;
        @include flex-direction(column);
        @include align-items(center);
        .result {
            font-size: 40px;
            color: $color-red;
            &.success {
                color: $color-blue;
            }
        }
        .btn.common {
            margin-top: 20px;
            width: 100px;
        }
        .show-vote-block {
            @include display-flex;
            @include align-items(center);
            @include flex-direction(column);
            width: 100%;
            .votes {
                @include display-flex;
                @include align-items(center);
                @include justify-content(center);
                width: 100%;
                height: 76px;
                margin-top: 10px;
                border: 4px solid white;
                border-radius: 16px;
                i {
                    font-size: 45px;
                    color: white;
                }
                &.success {
                    background-color: $color-light-blue;
                }
                &.fail {
                    background-color: $color-light-red;
                }
            }
        }
    }
}