@import '../../scss/common.scss';

.vote-page {
    @include display-flex;
    @include flex-direction(column);
    @include align-items(center);
    .player-name {
        margin-top: 10px;
    }
    .message {
        margin-bottom: 20px;
    }
    .button-section {
        .btn {
            width: 100px;
            &.success {
                margin-right: 20px;
            }
        }
    }
    .warning {
        margin-top: 10px;
    }
}