// fonts
@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Stalemate|MedievalSharp&display=swap');
$medieval: 'MedievalSharp', 'Century Gothic', 'CenturyGothic', 'AppleGothic', sans-serif;
$gothic: 'Century Gothic', 'CenturyGothic', 'AppleGothic', sans-serif;
$greatvibes: 'Great Vibes', 'Stalemate', cursive, sans-serif;
// mixins
@import './mixin.scss';

// variable
@import './variable.scss';

// shared css
.title {
  font-size: 30px;
  font-family: $greatvibes;
}

.player-name {
  margin-bottom: 20px;
  font-size: 40px;
  line-height: 40px;
  font-family: $gothic;
  font-weight: bold;
}

.warning {
  @include display-flex;
  @include align-items(center);
  @include align-self(flex-start);
  color: $color-warning;
  font-weight: bold;
    .fa-hand-point-right {
      margin-right: 10px;
  }
}

.btn {
  font-family: $medieval;
  font-size: 16px;
  font-weight: 600;
  height: 36px;
  border-radius: 22px;
  &.common {
    background-color: $color-brown;
    border: 2px solid $color-brown;
    color: white;
  }
  &.clear {
    background-color: transparent;
    border: 2px solid black;
    color: black;
  }
  &.success {
    background-color: $color-blue;
    border: 2px solid white;
    color: white;
  }
  &.fail {
    background-color: $color-red;
    border: 2px solid white;
    color: white;
  }
  &:hover {
    cursor: pointer;
  }
  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}

input {
  width: 130px;
  height: 36px;
  padding: 0 15px;
  border-radius: 22px;
  border: none;
  font-size: 16px;
}