// fonts
@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Stalemate|MedievalSharp&display=swap');

// mixins
@import './mixin.scss';

// shared css
.title {
  font-family: 'Great Vibes', 'Stalemate', cursive;
}

.btn {
  height: 36px;
  padding: 0 16px;
  border-radius: 22px;
  border: none;
  font-family: 'MedievalSharp', cursive;
  font-size: 16px;
  &:hover {
    cursor: pointer;
  }
}

input {
  height: 16px;
  padding: 10px; // total height: 10*2 + 16 = 36px
  border-radius: 22px;
  border: none;
}