$color-gray: #a6a6a6;
$color-dark-gray: #666666;
$color-warning: #990000; 
$color-brown: #804000;
$color-blue: #005ce6;
$color-red: #e62e00;
$color-green: #009900;
$color-light-green: #00e600;
$color-light-red: #ff6666;
$color-light-blue: #6699ff;